<html lang="en" data-ng-app="ngio">

    <head>
        <title>Noah Keller</title>
        <base href='/'/>
        <link rel='stylesheet' href='css/assets.css'/>
        <link rel='stylesheet' href='css/style.css'/>
    </head>

    <body data-ng-controller="bodyController">
        <ul id="navigation" data-ng-repeat="state in states">
            <li>
                <a data-ui-sref="{{state.name}}">
                    <span ng-if="state.icon !== undefined">
                        <i class="{{state.icon}}"></i>
                    </span>
                    {{state.title}}
                </a>
            </li>
        </ul>
        <div data-ui-view></div>
        <script type="text/javascript" src="js/assets.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.1.1/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/0.9.2/angularfire.min.js"></script>
        <script type="text/javascript" src="js/ngio.js"></script>
        <script type="text/javascript" src="js/BlogFactory.js"></script>
        <script type="text/javascript" src="js/BlogDirective.js"></script>
        <script type="text/javascript" src="js/errorController.js"></script>
    </body>

</html>